.toggle-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 11;
  transition: transform 0.3s ease-in-out;
}

.toggle-menu.x .bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.toggle-menu.x .bar:nth-child(2) {
  opacity: 0;
}

.toggle-menu.x .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

header {
  position: sticky;
  top: 10px;
  z-index: 100;
  margin-left: 6rem;
  margin-right: 6rem;
}

@media (max-width: 1200px) {
  header {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
  .toggle-menu {
    display: flex;
  }

  .navbar-links {
    display: none;
  }
}

@media (max-width: 1200px) {
  header {
    top: 100px;
  }
}

.nav-icon-wrapper {
  z-index: 11;
}

#full_screen_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.5rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  z-index: 10;
}

#full_screen_nav.open {
  opacity: 1;
  visibility: visible;
}

.menu-item {
  cursor: pointer;
  display: block;
  font-size: clamp(1.75rem, 1.3696rem + 1.7391vw, 3rem);
  font-weight: 700;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.logo_full_nav {
  position: absolute;
  bottom: -5%;
  left: calc(50%);
}

.menu-item-nav-desk {
  transition: opacity 400ms ease;
}

.navbar-links:hover > .menu-item-nav-desk {
  opacity: 0.3;
}

.navbar-links:hover > .menu-item-nav-desk:hover {
  opacity: 1;
}
