---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontaktoplysning</title>
  </head>
  <Banner />
  <body class="bg-beige300">
    <main
      class="mx-space30 sm:mx-spaceMarginx mt-spaceMarginTop grid place-content-center mb-space90"
    >
      <div class="w-full flex justify-center">
        <img
          class="mb-space160"
          src="../img/p_et.svg"
          alt="du er på siden med kontaktinfo"
        />
      </div>
      <h1
        class="lg:text-deskH1 text-mobileH1 font-bold font-text pb-space10 text-center"
      >
        Hvordan vil du kontaktes?
      </h1>
      <p class="font-text text-black500 text-mobileP text-center">
        Du kan vælge flere valgmuligheder
      </p>

      <div
        class="md:flex md:place-content-center md:gap-space80 md:pt-space160"
      >
        <!-- checkboks  -->
        <div class="pt-space40 flex justify-center">
          <div class="hover:translate-y-[-10px] ease-in-out duration-200">
            <div
              class="w-[170px] h-[170px] grid justify-center hover:cursor-pointer shadow-md rounded-cornerRound"
            >
              <img src="../img/mail.svg" alt="" />
              <p class="grid justify-center font-medium">Mail</p>
            </div>
          </div>
        </div>

        <!-- Telefon -->
        <div class="pt-space40 flex justify-center">
          <div class="hover:translate-y-[-10px] ease-in-out duration-200">
            <div
              class="w-[170px] h-[170px] grid justify-center hover:cursor-pointer shadow-md rounded-cornerRound"
            >
              <img src="../img/tel.svg" alt="" />
              <p class="grid justify-center font-medium">Sms</p>
            </div>
          </div>
        </div>
      </div>
      <p
        class="font-text text-xscopy text-black500 text-center pt-space20 md:pt-space160"
      >
        Vi kontakter dig kun i forbindelse med levering af lækker cider
      </p>
    </main>
  </body>
</html>
