---
// Component Imports
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Cookie from "../components/Cookie.astro";
import Overatten from "../components/Overatten.astro";
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <div>Hej</div>
</MainLayout>
