---
// Component Imports
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Cookie from "../components/Cookie.astro";
import Overatten from "../components/Overatten.astro";
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <div class="grid place-items-center h-screen content-center">
    <!-- <Button variant="primary" knapTekst="Køb nu" kurv={true} />
    <Button variant="secondary" knapTekst="Køb nu" kurv={true} />
    <Button variant="inactive" knapTekst="Køb nu" kurv={true} />
    <Button variant="warning" knapTekst="Køb nu" kurv={true} /> -->

    <div class="flex">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="vin"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="juledessertcidere 1"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="julekasse"
      />
    </div>
  </div>
  <Overatten />
  <Cookie />
</MainLayout>
