---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Opret bruger</title>
  </head>
  <Banner />
  <body class="bg-beige300">
    <main class="mx-space30 sm:mx-spaceMarginx mt-spaceMarginTop">
      <h1 class="lg:text-deskH1 text-mobileH1 font-bold font-text pb-space40">
        Opret bruger eller login
      </h1>
    </main>
  </body>
</html>
