---
// Component Imports
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Cookie from "../components/Cookie.astro";
import Overatten from "../components/Overatten.astro";
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="Shoppen">
  <div
    class="lg:grid lg:grid-cols-2 items-center -mt-space160 mb-space160 flex flex-col"
  >
    <div>
      <h1 class="lg:text-deskH1 text-mobileH1 font-bold font-text">
        CIDERSHOPPEN
      </h1>
      <h3 class="lg:text-deskH3 text-mobileP font-text">
        Cider der smager af mere
      </h3>
    </div>
    <img src="/img/shopsplash.png" alt="splash" />
  </div>

  <!-- Kategorier web -->
  <div id="filter" class="nysticky">
    <div id="toggle-menu2" class="">
      <ul class="kategorier lg:flex lg:justify-between hidden bg-green300">
        <a
          class="font-text text-lilac100 bg-green300 p-space15"
          href="#smagekasser">Smagekasser</a
        >
        <a class="font-text text-lilac100 bg-green300 p-space15" href="#fransk"
          >Fransk</a
        >
        <a class="font-text text-lilac100 bg-green300 p-space15" href="#dansk"
          >Dansk</a
        >
        <a class="font-text text-lilac100 bg-green300 p-space15" href="#st"
          >Spansk & Tysk</a
        >
        <a class="font-text text-lilac100 bg-green300 p-space15" href="#engelsk"
          >Engelsk</a
        >
        <a class="font-text text-lilac100 bg-green300 p-space15" href="#vc"
          >Vores cider</a
        >
        <a
          class="font-text text-lilac100 bg-green300 p-space15"
          href="#alkoholfri">Alkoholfri</a
        >
      </ul>
    </div>
  </div>

  <!-- Kategorier mobil -->
  <div id="filtermenu" class="lg:hidden grid nysticky place-content-center">
    <div id="toggle-filtermenu">
      <Button variant="kategori" knapTekst="Kategorier" />
    </div>
    <ul id="filternav2" class="flex">
      <div class="flex flex-col items-center">
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#smagekasser">Smagekasser</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#fransk">Fransk</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#dansk">Dansk</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#st">Spansk & Tysk</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#engelsk">Engelsk</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#vc">Vores cider</a
        >
        <a
          class="font-text text-lilac100 w-[279px] bg-green300 p-space15"
          href="#alkoholfri">Alkoholfri</a
        >
      </div>
    </ul>
  </div>
  <button
    class="totopbutton font-text text-lilac100 w-[100px] bg-green300 p-space1 mt-space90"
    id="top-button">Return to top</button
  >
  <!-- Smagskasser -->
  <div id="smagekasser" class="lg:flex lg:flex-col flex flex-col">
    <div class="">
      <h2
        class="text-deskH2 place-self-center font-text font-bold mt-space20 mb-space30"
      >
        Smagskasser
      </h2>
    </div>
    <!-- <hr class="mb-space50 h-[2px] border-none bg-orange-400" /> -->
    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="danskkasse_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="franskkasse_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="startkasse_tre"
      />
    </div>
  </div>

  <!-- Fransk -->
  <div id="fransk" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Fransk
    </h2>

    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="fransk_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="fransk_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="fransk_tre"
      />
    </div>
  </div>

  <!-- Dansk -->
  <div id="dansk" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Dansk
    </h2>

    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="dansk_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="dansk_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="dansk_tre"
      />
    </div>
  </div>

  <!-- Spansk & Tyske -->
  <div id="st" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Spansk & Tysk
    </h2>
    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="spansk_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="spansk_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="spansk_tre"
      />
    </div>
  </div>

  <!-- Engelsk -->
  <div id="engelsk" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Engelsk
    </h2>
    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="england_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="england_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="england_tre"
      />
    </div>
  </div>

  <!-- Vores cider -->
  <div id="vc" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Vores cider
    </h2>
    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="vores_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="vores_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="vores_tre"
      />
    </div>
  </div>

  <!-- Alkoholfri -->
  <div id="alkoholfri" class="items-center lg:flex lg:flex-col flex flex-col">
    <h2
      class="text-deskH2 place-self-start font-text font-bold mt-space20 mb-space50"
    >
      Alkoholfri
    </h2>
    <div class="smage-items">
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="alkoholfri_et"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="alkoholfri_to"
      />
      <Card
        titel="Cidrerie de l’Apothicaire"
        producent="Amzer Zo’"
        pris="DKK 100"
        pic="alkoholfri_tre"
      />
    </div>
  </div>
</MainLayout>
