<div class="bg-green500 md:p-space15 mb-space40 w-screen">
  <p class="text-white text-deskp text-center sticky">
    Fragt - Storkøbenhavn: 40 kr - Resten af landet: 80 kr. (Gratid afhentning i
    NV) - Gratis forsendelse for ordrer over 1499 kr
  </p>
</div>
