---
const { variant, knapTekst, kurv } = Astro.props;
---

<button
  data-variant={variant}
  class="bg-slate-200 text-xl font-bold font-dosis text-white p-2 rounded"
  >{
    kurv == true && (
      <div class="icon">
        <img class="" src="/img/toteicon.svg" alt="tote icon" />
      </div>
    )
  }
  {knapTekst}
</button>

<style>
  [data-variant="primary"] {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    width: 279px;
    height: 68px;
    background-color: #4f7359;
  }
  [data-variant="primary_ciderskolen"] {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    height: 68px;
    background-color: #4f7359;
  }
  [data-variant="secondary"] {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    width: 279px;
    height: 68px;
    background-color: #9174c3;
  }
  [data-variant="inactive"] {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    width: 279px;
    height: 68px;
    background-color: #9a9fa5;
  }
  [data-variant="warning"] {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    width: 279px;
    height: 68px;
    background-color: #d1541d;
  }
</style>
