<div class="bg-lilac100">
  <h4>Vi samler cookies! Selvom vi hellere ville samle æbler..</h4>
  <p class="text-white text-xscopy text-center">
    Vi bruger cookies for at give dig den bedste oplevelse på vores hjemmeside.
    Hvis du fortsætter med at bruge hjemmesiden, antager vi, at du er
    indforstået med det.
  </p>
</div>
