---
---

<div class="bg-lilac100 p-space30 shadowBox cornerRound">
  <h4 class="text-mobileH4 font-bold">
    Vi samler cookies! Selvom vi hellere ville samle æbler..
  </h4>
  <p class="text-mobileP text-black pt-space20 pb-space10">
    Vi bruger cookies for at give dig den bedste oplevelse på vores hjemmeside.
  </p>

  <button class="bg-green300 text-white p-space10">Accepter</button>
  <button class="bg-slate-400 p-space10">Afvis</button>

  <br />
  <a class="text-xscopy underline" href="#"
    >Læs mere om vores privatlivspolitik</a
  >
</div>
