<header class="bg-slate-500">
  <nav class="navbar flex items-center justify-between">
    <div class="logo">
      <img
        class="w-[45px] sm:w-[70px]"
        src="../img/logo.svg"
        alt="firma logo"
      />
    </div>
    <div
      class="navbar-links flex w-full font-text text-green400 justify-around font-bold"
    >
      <a class="menu-item-nav-desk" href="#">Shop</a>
      <a class="menu-item-nav-desk" href="#">Abonnement</a>
      <a class="menu-item-nav-desk" href="#">Arrangementer</a>
      <a class="menu-item-nav-desk" href="#">Ciderskolen</a>
      <a class="menu-item-nav-desk" href="#">Om os</a>
      <a class="menu-item-nav-desk" href="#">For virksomheder</a>
    </div>
    <div class="nav-icon-wrapper gap-space40 flex">
      <img class="w-[37px]" src="../img/profil.svg" alt="ikoner" />
      <img class="w-[37px]" src="../img/kurv.svg" alt="kurv" />
    </div>
    <a href="#" class="toggle-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
</header>

<nav id="full_screen_nav" class="bg-inherit relative">
  <div id="menu-items" class="z-30 text-green400">
    <a class="menu-item" href="#">Shop</a>
    <a class="menu-item" href="#">Abonnement</a>
    <a class="menu-item" href="#">Arrangementer</a>
    <a class="menu-item" href="#">Ciderskolen</a>
    <a class="menu-item" href="#">Om os</a>
    <a class="menu-item" href="#">For virksomheder</a>
  </div>
  <div class="logo_full_nav z-20">
    <img class="w-[200px]" src="../img/logo.svg" alt="firma logo" />
  </div>
</nav>
