<header>
  <nav class="navbar flex items-center justify-between">
    <div class="logo">
      <img
        class="w-[45px] sm:w-[70px]"
        src="../img/logo.svg"
        alt="firma logo"
      />
    </div>
    <div class="navbar-links flex w-full">
      <ul class="font-text text-black600 w-full flex justify-around font-bold">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Abonnement</a></li>
        <li><a href="#">Arrangementer</a></li>
        <li><a href="#">Ciderskolen</a></li>
        <li><a href="#">Om os</a></li>
        <li><a href="#">For virksomheder</a></li>
      </ul>
    </div>
    <div class="nav-icon-wrapper gap-space40 flex">
      <img class="w-[37px]" src="../img/profil.svg" alt="ikoner" />
      <img class="w-[37px]" src="../img/kurv.svg" alt="kurv" />
    </div>
    <a href="#" class="toggle-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
</header>

<nav id="full_screen_nav" class="bg-inherit relative">
  <div id="menu-items" class="z-10">
    <a class="menu-item" href="#">Shop</a>
    <a class="menu-item" href="#">Abonnement</a>
    <a class="menu-item" href="#">Arrangementer</a>
    <a class="menu-item" href="#">Ciderskolen</a>
    <a class="menu-item" href="#">Om os</a>
    <a class="menu-item" href="#">For virksomheder</a>
  </div>
  <div class="logo_full_nav z-20">
    <img class="w-[200px]" src="../img/logo.svg" alt="firma logo" />
  </div>
</nav>
