<header>
  <div class="topnav" id="myTopnav">
    <div class="logo">
      <img class="w-[73px]" src="../img/logo.svg" alt="logo" />
    </div>
    <a href="#shop">Shop</a>
    <a href="#abonnement">Abonnement</a>
    <a href="#arrangementer">Arrangementer</a>
    <a href="#ciderskolen">Ciderskolen</a>
    <a href="#omOs">Om os</a>
    <a href="#forVirksomheder">For virksomheder</a>
    <a href="#profil"
      ><img class="w-[37px]" src="../img/profil.svg" alt="profil ikon" />
    </a>
    <a href="#profil"
      ><img class="w-[37px]" src="../img/kurv.svg" alt="kurv ikon" />
    </a>
    <a id="icon123" class="icon">
      <i>BurgermenuIkon</i>
    </a>
  </div>
</header>
