---
---

<div
  class="bg-lilac100 p-space30 shadow-md rounded-cornerRound gap-space80 sticky md:w-1/2 md:h-2/3"
>
  <h1 class="text-center font-bold text-mobileH1 pb-space15 md:text-deskH1">
    ER DU OVER 18?
  </h1>
  <h2 class="text-center text-mobileH2 pb-space15">
    Er du gammel nok til at drikke fermenteret æblejuice?
  </h2>
  <div class="flex justify-center items-center">
    <button class="bg-green300 text-white p-space10">Ja</button>
    <button class="bg-slate-400 p-space10">Nej :-(</button>
  </div>
</div>
