---
import Banner from "../components/Banner.astro";
import FooterCider from "../components/FooterCider.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

let { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="da" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <script src="../js/script.js"></script>
  </head>
  <body class="bg-beige300 overflow-x-hidden">
    <Banner />
    <Header />
    <main class="mx-space30 sm:mx-spaceMarginx mt-spaceMarginTop">
      <slot />
    </main>
    <FooterCider />
  </body>
</html>
